<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mednovo.mti_pii"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mednovo.mti_pii.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.mednovo.mti_pii.BLEService" >
        </service>
        <activity
            android:name="com.mednovo.mti_pii.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mednovo.mti_pii.CodeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mednovo.chart_myself.HorizontalBarChartActivity">
        </activity>
        <activity
            android:name="com.mednovo.mti_pii.ServiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mednovo.mti_pii.TalkActivity"
            android:screenOrientation="portrait">
        </activity>

//增加横版的胰岛素泵主界面
        <activity
            android:name="com.mednovo.pump_code.pump_main"
            android:screenOrientation="landscape">//主界面
        </activity>

        <activity
            android:name="com.mednovo.pump_code.Menu_Up"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.mednovo.pump_code.Menu_Down"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_second"
            android:screenOrientation="landscape">//菜单界面
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_meal_bolus"
            android:screenOrientation="landscape">//大剂量界面
        </activity>

            <activity
                android:name="com.mednovo.pump_code.pump_bolus"
                android:screenOrientation="landscape">//即时大剂量界面 定时大剂量界面
            </activity>


        <activity
            android:name="com.mednovo.pump_code.pump_suspend"
            android:screenOrientation="landscape">//暂停泵界面
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_basal"
            android:screenOrientation="landscape">//基础率界面
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_Temporary_rate"
            android:screenOrientation="landscape">//暂时率界面
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_System_set"
            android:screenOrientation="landscape">//系统设定界面
        </activity>pump_system

            <activity
                android:name="com.mednovo.pump_code.pump_system"
                android:screenOrientation="landscape">//系统设定下界面
            </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_history"
            android:screenOrientation="landscape">//历史记录界面
        </activity>

            <activity
                android:name="com.mednovo.pump_code.pump_history_data"
                android:screenOrientation="landscape">//历史记录界面
            </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_data"
            android:screenOrientation="landscape">//数据通讯界面
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_factory_set"
            android:screenOrientation="landscape">//出厂设置界面
        </activity>

            <activity
                android:name="com.mednovo.pump_code.pump_factory_data"
                android:screenOrientation="landscape">//出厂设置下界面
            </activity>

    </application>

</manifest>