<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mednovo.mti_pii"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mednovo.mti_pii.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.mednovo.mti_pii.BLEService" >
        </service>
        <activity
            android:name="com.mednovo.mti_pii.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mednovo.mti_pii.CodeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mednovo.chart_myself.HorizontalBarChartActivity">
        </activity>
        <activity
            android:name="com.mednovo.mti_pii.ServiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mednovo.mti_pii.TalkActivity"
            android:screenOrientation="portrait">
        </activity>

//增加横版的胰岛素泵主界面
        <activity
            android:name="com.mednovo.pump_code.pump_main"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.mednovo.pump_code.Menu_Up"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.mednovo.pump_code.Menu_Down"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_second"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.mednovo.pump_code.pump_meal_bolus"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>